<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Participants are encouraged to <a href="setup">follow setup instructions</a> a day before the workshop. Workshop attendees will be split into two groups the day of the activity. Half of attendees will do the workshop at 2pm MST, the other half will do the workshop at 3pm MST in order to alternate between the concurrent ECM workshop activity: ASU imaging systems workshop activity.</td> </tr>
      <tr> <td>3:00pm Mountain Standard Time</td>  <td>Welcome, introduction, & examples</td> </tr>
      <tr> <td>3:05pm Mountain Standard Time</td>  <td><a href="03-ixodes-whole-dataset">Individual data transcriptions worksheet activity</a> </td> </tr>
      <tr> <td>3:15pm Mountain Standard Time</td>  <td>Small group discussion and group worksheet</td> </tr>
      <tr> <td>3:30 Mountain Standard Time</td>  <td>Group reports and whole group, group discussion</td> </tr>
      <tr> <td>4:00pm Mountain Standard Time</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
