<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Participants are encouraged to <a href="setup">follow setup instructions</a> a day before the workshop</td> </tr>
      <tr> <td>11:00 Pacific</td>  <td>Welcome</td> </tr>
      <tr> <td>11:10 Pacific</td>  <td><a href="03-ixodes-whole-dataset">Whole Dataset</a> and <a href="04-ixodes-point-and-click">Point-and-Click Analysis</a> of <a href="02-data">Interaction Data</a> </td> </tr>
      <tr> <td>11:50 Pacific</td>  <td>Group Reports</td> </tr>
      <tr> <td>12:00 Pacific</td>  <td>Break</td> </tr>
      <tr> <td>12:10 Pacific</td>  <td>Structured Review of <a href="06-reviewing-taxonomic-names">Taxonomic Names</a> and <a href="07-reviewing-interaction-records">Interaction Records</a> of specific <a href="05-working-with-data-sources">Data Sources</a></td> </tr>
      <tr> <td>12:50 Pacific</td>  <td>Group Reports</td> </tr>
      <tr> <td>13:00 Pacific</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
